div{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: ipx solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.msg{
    text-align: center;
    color: brown;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}